:root {
  --btn-background: #F9C06A;
  --btn-paddings: 14px 26px;
  --btn-radius: 24px;

  --line-height: 34px;
  --color-light: white;
  --color-dark :#707070;
  --color-coffe: #603809;
  --color-black: #1E1E1E;

  --font-family-logo: "Clicker Script", cursive;
  --font-text: 20px;
}

body {
    font-family: "Playfair Display", serif;
}

body,
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  border: 1px solid yellow;
  max-width: 1180px;
  margin: 0 auto;
}

.btn {
  color: var(--color-black);
  background-color: var(--btn-background);
  border-radius: var(--btn-radius);
  padding: var(--btn-paddings);
  display: inline-block;
  transition: 0.3s;
  font-weight: bold;
}

.dark-heading {
  color: var(--color-coffe);
  font-size: 54px;
}
.card-back {
  background-color: #fff9f1;
  border: 1px solid #F9C06A;
  
}
header {
  background-image: url(img/coffee_image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  border: 1px solid red;
  font-size: 35px;
  margin-right: 240px;
}

header a {
  color: var(--color-light);;
}

header nav {
  border: 1px solid red;
  font-size: 14px;
  font-weight: 600;
}

header ul {
  border: 1px solid red;
  display: inline-block;
  margin-right: 200px;
}

header ul li {
  display: inline-block;
  margin-right: 60px;
}

header ul a, 
.signin-btn {
  transition: 0.3s;
}

header ul a:hover,
.signin-btn:hover {
  opacity: 0;
}

header ul li:last-child {
  margin-right: 0;
}

header .login {
  display: inline-block;
}

.hero {
  border: 1px solid red;
}

.signin-btn {
  margin-right: 35px;
  text-decoration: underline;
}


.signup-btn 

.btn-hover:hover {
  box-shadow: 0 0 10px 2px #666;
}
.hero .label {
  color: var(--color-light);
  font-size: 22px;
}

.hero {
  width: 585px;
  padding-top: 116px;
  padding-bottom: 95px;
}

.hero .label {
  font-size: 22px;
  color: var(--color-light);
}

.hero .description {
  color: var(--color-light);
  font-size: var(--font-text);
}

.hero .description {
line-height: var(--line-height);
}

.hero .title {
  color: var(--color-light);
  font-size: 220px;
  font-family: var(--font-family-logo);
  font-weight: normal;
}

.order-btn {
  margin-top: 20px;
}

.advantages p {
  margin: 29px 0;
  color: var(--color-dark);
  font-size: var(--font-text);
  line-height: var(--line-height);
}

.advantages {
  padding-bottom: 130px;
  padding-top: 70px;
}
.advantages .description {
  width: 585px;
  display: inline-block;
  margin-right: 80px;
  padding-top: 60px;
  vertical-align: top;
}

img {
  width: 500px;
}

.products {
  border: 1px solid red;
  margin: 0 0 82px 0;
}

.products h2 {
  text-align: center;
}

.products .description,
.features .description,
.join .description {
  color: var(--color-dark);
  text-align: center;
  margin: 16px 0 32px 0;
  font-size: var(--font-text);
}
.products .card {
  display: inline-block;
  text-align: center;
  margin-right: 14px;
}

.products .card img {
  width: 280px;
}
.products .card:last-child {
  margin-right: 0;
}
.products .card-back > * {
  display: block;
}

.products .card-back {
  border-top: none;
  margin-top: -5px;
}

.products .type {
  color: var(--color-coffe);
  font-weight: bold;
  font-size: 22px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.products .charachteristics {
  color: var(--color-black);
  margin-bottom: 6px;
}

.products .price {
  color: var(--color-coffe);
  font-size: 18px;
  font-weight: bold;  
  margin-bottom: 5px;
}

.products .btn {
  display: inline-block;
  position: relative;
  top: 25px;
}

.features {
  text-align: center;
}

.features .description {
  margin-top: 16px;
  margin-bottom: 32px;
}

.features .card {
  display: inline-block;
  text-align: center;
  padding: 36px 39px;
}

.features .card > * {
  display: block;
}
.features .card img {
  display: inline-block;
}
.features .type {
  color: var(--color-coffe);
  font-size: 28px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 8px;
}
.features .text {
  color: var(--color-dark);
  font-size: var(--font-text);
  width: 176px;
}
.features img {
  width: 100px;
}
.features .card:hover {
  background-color: #ffeed8;
  border: none;
}
.features .card {
  margin-right: 20px;
}
.features .card:last-child {
  margin-right: 0;
}
.join .description {
  margin-top: 32px;
  margin-bottom: 0;
}
.join h3 {
  font-size: 30px;
  margin-bottom: 24px;
  color:var(--color-coffe)
}
.join {
  margin-bottom: 82px;
}